# automake stuff
# NOTE: Makefile is deliberately NOT ignored - it is the maintained,
# hand-written build of this plugin, not an automake artefact.
autom4te.cache
*.in
aclocal.m4
compile
config.*
configure
depcomp
install-sh
*.pc
libtool
ltmain.sh
missing
stamp-h1
README
COPYING
INSTALL

# system
*~
.directory
